.home {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.home > * {
  width: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.text > div > * {
  margin-right: 50px;
}

.btn {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
}

.parag {
  text-align: center;
}

